.facts__container {
  padding: 150px 28px 150px 28px;

  @media (max-width: $tablet-breakpoint) {
    padding: 35px 106px 30px 106px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 35px 15px 22px 15px;
  }
}

.facts__title {
  margin: 0;
  margin-bottom: 50px;
  color: $black-gray;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.facts__list {
  @include list-style (none, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.facts__item {
  width: 263px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 58px;

    &:first-child {
      margin-bottom: 29px;
    }

    &:first-child .facts__number {
      margin-bottom: 17px;
    }
  }
}

.facts__number {
  margin: 0;
  margin-bottom: 17px;
  color: $blue;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27273px;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 9px;
  }
}

.facts__content {
  margin: 0;
  color: $black;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
    line-height: 34px;
  }
}
