.form__title {
  margin: 0;
  margin-bottom: 18px;
  width: 350px;
  color: $white;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 30px;
    width: 100%;
    padding: 0 95px;
    font-size: 18px;
    color: $black;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 20px;
    padding: 0;
  }
}

.form__wrap {
  margin-bottom: 20px;
  text-align: center;
}

.form__input {
  padding: 14px 10px 10px 30px;
  width: 327px;
  height: 48px;
  color: $black;
  font-size: 15px;
  line-height: 24px;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid $black;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 321px;
    padding: 10px 10px 10px 21px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 288px;
    padding: 13px 26px 11px 25px;
  }
}

.form__submit {
  margin: 0 auto;
  padding: 15px 50px;
  color: $black;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $blue;
  border-radius: 6px;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }


  @media (max-width: $mobile-breakpoint) {
    padding: 15px 28px;
  }
}
