.logo {
  @media (max-width: $tablet-breakpoint) {
    display: block;
    align-self: center;
    padding-left: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 67px;
    height: 20px;
  }
}
