.logo {
  @media (max-width: $tablet-breakpoint) {
    display: block;
    width: 87px;
    height: 34px;
    align-self: flex-end;
    padding-left: 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 16px;
  }
}
