.map {
  position: relative;
}

.map__img {
  display: block;
  width: 100%;
  height: auto;

  @media (max-width: $tablet-breakpoint) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $breakpoint) {
    width: 100%;
    height: auto;
  }


  @media (max-width: $mobile-breakpoint) {
    width: 320px;
    height: 250px;
  }
}

.map__google {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 530px;

  @media (max-width: $tablet-breakpoint) {
    width: 698px;
    height: 545px;
  }

  @media (max-width: $breakpoint) {
    width: 100%;
    height: 545px;
  }


  @media (max-width: $mobile-breakpoint) {
    width: 320px;
    height: 250px;
  }
}

.map__iframe {
  width: 100%;
  height: 100%;

  @media (max-width: $tablet-breakpoint) {
    height: 545px;
  }

  @media (max-width: $mobile-breakpoint) {
    height: 250px;
  }
}
