.no-js .page-header {
  @media (max-width: $tablet-breakpoint) {
    position: relative;
  }
}

.no-js .navigation__list {
  @media (max-width: $tablet-breakpoint) {
    display: block;
    position: relative;
  }
}
