.page-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;

  @media (max-width: $desktop-breakpoint) {
    width: 64%;
  }

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
    position: fixed;
  }
}

.page-header__container {
  padding: 21px 225px;

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    padding: 0;
  }
}
