.page-footer__container {
  position: relative;
  flex: 0 0 auto;
  padding: 150px 164px 98px;

  @media (max-width: $tablet-breakpoint) {
    padding: 66px 35px 52px;
  }

  @media (max-width: $breakpoint) {
    padding: 66px 4% 52px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 70px 0 35px;
  }
}

.page-footer__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 192px;
  padding-right: 200px;
  color: $black-gray;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 24px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

.page-footer__content {
  margin: 0 auto;
  margin-bottom: 41px;
  padding: 0 200px;
  color: $black-opacity70;
  font-size: 17px;
  line-height: 31px;
  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
    padding: 0;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0 25px;
    margin-bottom: 25px;
  }
}

.page-footer__map {
  margin-bottom: 39px;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 15px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 26px;
  }
}
