.page-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.page-header__container {
  padding: 21px 196px;

  @media (max-width: $tablet-breakpoint) {
    padding: 0;
  }
}
