.promo {
  background-color: $light-black;
  background-image: url("../img/bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bike-desktop@2x.jpg");
  }

  @media (max-width: $tablet-breakpoint) {
    background-color: transparent;
    background-image: none;
  }
}

.promo__container {
  @include wrapper ($desktop-width, 0 auto);
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop-breakpoint) {
    width: $width-percent;
  }

  @media (max-width: $tablet-breakpoint) {
    @include wrapper (100%, 0);
    flex-direction: column;
  }
}

.promo__wrap {
  padding: 318px 0 240px 202px;

  @media (max-width: $desktop-breakpoint) {
    padding-left: 15%;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 135px 121px 0;
    background-image: url("../img/bike-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }

  @media (max-width: $desktop-breakpoint) {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 120px 0 0 0;
    background-image: url("../img/bike-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bike-tablet@2x.jpg");
    }
  }
}

.promo__ref {
  display: block;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.promo__logo {
  margin-bottom: 29px;
}

.promo__content {
  text-align: left;
  max-width: 400px;

  @media (max-width: $tablet-breakpoint) {
    @include wrapper ($tablet-width, 0 auto);
    text-align: center;
  }

  @media (max-width: $mobile-breakpoint) {
    @include wrapper (90%, 0 auto);
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 24px;
  color: $white;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
  }
}

.promo__slogan {
  margin: 0;
  color: $white;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  opacity: 0.8;

  @media (max-width: $tablet-breakpoint) {
    padding-bottom: 80px;
    font-size: 18px;
    line-height: 32px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 70px;
  }
}

.promo__form {
  padding: 324px 192px 240px 0;

  @media (max-width: $desktop-breakpoint) {
    padding-right: 6%;
  }

  @media (max-width: $tablet-breakpoint) {
    @include wrapper ($tablet-width, 0 auto);
    padding: 70px 121px 35px 121px;
  }

  @media (max-width: $breakpoint) {
    width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
    @include wrapper ($mobile-width, 0 auto);
    padding: 70px 15px 35px 15px;
  }
}
