.toggler {
  @media (max-width: $tablet-breakpoint) {
    position: relative;
    z-index: 1;
    margin-left: auto;
    padding: 0;
    width: 50px;
    height: 50px;

    border: none;

    &--menu {
      background-color: $blue;
    }

    &--cross {
      background-color: transparent;
      padding: 13px;
    }

    &:hover,
    &:focus {
      background-color: $blue;
      opacity: 0.7;
    }

    &:active {
      background-color: $blue;
      opacity: 0.3;
    }
  }
}

.toggler__icon {
  fill: $black;

  &--cross {
    display: none;
  }
}

.toggler--cross .toggler__icon--cross {
  display: block;
  width: 22px;
  height: 22px;
}

.toggler--cross .toggler__icon--menu {
  display: none;
}
