.types {
  background-color: $smoky-gray;
}

.types__container {
  padding: 152px 30px 147px;

  @media (max-width: $tablet-breakpoint) {
    padding: 47px 32px 69px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 53px 0;
  }
}

.types__title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 191px;
  padding-right: 200px;
  color: $black-gray;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 30px;
    padding: 0;
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  @include list-style (none, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }

  @media (max-width: $tablet-breakpoint) {
    justify-content: space-around;
    padding-right: 35px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-right: 0;
  }
}

.types__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }

  &:nth-child(3n+1) {
    padding-left: 60px;
    padding-top: 40px;
    z-index: 0;
  }

  &:nth-child(3n+1)::before {
    @include pseudo ("", absolute, 180px, 180px);
    top: 195px;
    left: 0;
    border-radius: 50%;
    border: 27px solid $blue;
  }

  &:nth-child(3n-1) {
    padding-left: 19px;
    padding-right: 23px;
    padding-top: 70px;
  }

  &:nth-child(3n-1)::before,
  &:nth-child(3n-1)::after {
    @include pseudo ("", absolute, 47px, 47px);
    z-index: 2;
    border: 8px solid $blue;
  }

  &:nth-child(3n-1)::before {
    top: 50px;
    left: 0;
  }

  &:nth-child(3n-1)::after {
    bottom: 30px;
    right: 0;
  }

  &:nth-child(3n) {
    padding-right: 36px;
    padding-top: 30px;
  }

  &:nth-child(3n)::before {
    @include pseudo ("", absolute, 95px, 95px);
    top: 0;
    right: 0;
    z-index: 2;
    border-radius: 50%;
    border: 17px solid $blue;
  }

  @media (max-width: $desktop-breakpoint) {
    width: 30%;
  }

  @media (max-width: $tablet-breakpoint) {
    width: auto;

    &:not(:first-child) {
      margin-left: 0;
    }

    &:nth-child(3n+1) {
      padding-left: 36px;
      padding-top: 0;
    }

    &:nth-child(3n+1)::before {
      width: 127px;
      height: 127px;
      top: 201px;
      border: 18px solid $blue;
    }

    &:nth-child(3n-1) {
      padding: 0;
    }

    &:nth-child(3n-1)::before,
    &:nth-child(3n-1)::after {
      @include pseudo ("", absolute, 0, 0);
      border: none;
    }

    &:nth-child(3n) {
      padding-right: 25px;
      padding-top: 20px;
      padding-left: 60px;
      margin-top: 30px;
    }

    &:nth-child(3n)::before {
      width: 68px;
      height: 68px;
      border: 13px solid $blue;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;

    &:nth-child(3n+1) {
      margin-bottom: 40px;
      padding-left: 24px;
    }

    &:nth-child(3n-1) {
      margin-bottom: 24px;
      padding: 0 24px;
    }

    &:nth-child(3n) {
      padding-right: 23px;
      padding-top: 20px;
      margin-top: 0;
      padding-left: 25px;
    }

    &:nth-child(3n)::before {
      right: 9px;
    }
  }
}

.types__img {
  display: block;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  height: auto;

  @media (max-width: $tablet-breakpoint) {
    width: 270px;
    height: 300px;
  }
}

.types__link {
  display: block;
  color: $black;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.types__item:nth-child(3n+1) .types__link {
  @media (max-width: $mobile-breakpoint) {
    padding-right: 24px;
  }
}
